.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.rows{
    margin-left: 20px;
}
.poster{
    margin-right: 20px;
    max-height: 250px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.smallposter{
    max-height: 150px;
    margin-right: 20px;
}